.gallery-component .gallery {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}

.gallery-component  .image-container {
  position: relative;
}

.gallery-component  .gallery-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out;
}

.gallery-component  .image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.gallery-component  .navigation-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 0 10px;
}

.gallery-component  .nav-button {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.gallery-component  .nav-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery-component  .navigation-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.gallery-component  .dot {
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.gallery-component  .dot.active {
  background-color: #333;
}

.gallery-component  .dot:hover {
  background-color: #888;
}
